$menuBackground: #2f2f40;
$chatBackground: #3a3b52;
$contactChat: #5e9ef7;
$userChat: #cdd5de;

::-webkit-scrollbar {
   width: 0px;
   background: transparent; /* make scrollbar transparent */
}

.nav-colour {
   background-color: $menuBackground;
}

//Theming the drop down menu
.dropdown-menu {
   background-color: $menuBackground;
}

.dropdown-menu-dark .dropdown-item:active {
   background-color: $chatBackground !important;
}

.contact-panel {
   float: left;
   display: block;
   width: 35%;
   padding: 0;
   margin: 0;
   height: 100vh;
   overflow-y: scroll;
   .navbar {
      position: fixed !important;
      width: 35%;
      z-index: 11;
   }
   .contact-container {
      margin-top: 50px;
      overflow-y: scroll;

      a {
         text-decoration: none;
         color: black;

         .contact-row {
            height: 90px;
            border-bottom: 1px solid lightgray;

            .contact-left {
               position: relative;
               text-align: center;

               img {
                  margin-top: 7px;
                  padding: 3px;
                  text-align: center;
                  height: 75px;
                  width: 75px;
                  -o-object-fit: cover;
                     object-fit: cover;
                  border-radius: 50%;
                  border: 1px solid gray;
               }
            }

            .contact-right {
               .contact-name {
                  padding: 0;
                  margin: 10px 0px 0px 0px;
                  font-weight: 500;
                  font-size: 18pt;
                  overflow: hidden;
               }
               .contact-message {
                  height: 24px;
                  overflow: hidden;
                  color: gray;
               }
            }
         }
      }
   }
}

.message-panel {
   float: left;
   width: 65%;
   padding: 0;
   margin: 0;
   height: 100vh;
   overflow-y: hidden;
   embed {
      height: 100vh;
      width: 100%;
   }
}

.no-margin {
   margin: 0px;
   padding: 0px;
}

.dropdown-menu {
   right: 0;
}

.dropdown-menu-right[data-bs-popper] {
   left: inherit;
}

.dropdown-icon {
   -webkit-filter: invert(1);
           filter: invert(1);
   transform: rotate(90deg);
   transition: transform 0.2s;
}

.transparent {
   background-color: transparent;
   outline: none;
   border: none;
   box-shadow: none;

   &:hover,
   &:focus,
   &:active,
   &:active:hover {
      background-color: transparent;
      outline: none;
      border: none;
      box-shadow: none;
   }
}

@media (max-width: 850px) {
   .contact-container {
      .contact-row {
         .contact-left {
            img {
               margin-top: 13px;
               height: 65px;
               width: 65px;
            }
         }

         .contact-right {
            padding-left: 20px;
            a {
               .contact-name {
                  font-size: 14pt;
               }
               .contact-message {
                  font-size: 10pt;
                  height: 24px;
                  overflow: hidden;
                  color: gray;
               }
            }
         }
      }
   }
}

//Tablets
@media (min-width: 671px) {
   .contact-panel {
      float: left;
      display: block;
      width: 35%;
      padding: 0;
      margin: 0;
   }
   .message-panel {
      float: left;
      width: 65%;
      padding: 0;
      margin: 0;
      embed {
         height: 100vh;
         width: 100%;
      }
   }
}

//Mobile devices
@media (max-width: 670px) {
   .message-panel {
      display: none;
   }

   .contact-panel {
      width: 100%;
      margin: 0;
      padding: 0;

      .navbar {
         width: 100%;
      }
      .contact-container {
         .contact-row {
            .contact-right {
               a {
                  .contact-name {
                     font-size: 18pt;
                  }
                  .contact-message {
                     font-size: 14pt;
                  }
               }
            }
         }
      }
   }
}
