::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.nav-colour {
  background-color: #2f2f40;
}

.dropdown-menu {
  background-color: #2f2f40;
}

.dropdown-menu-dark .dropdown-item:active {
  background-color: #3a3b52 !important;
}

.contact-panel {
  float: left;
  display: block;
  width: 35%;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-y: scroll;
}
.contact-panel .navbar {
  position: fixed !important;
  width: 35%;
  z-index: 11;
}
.contact-panel .contact-container {
  margin-top: 50px;
  overflow-y: scroll;
}
.contact-panel .contact-container a {
  text-decoration: none;
  color: black;
}
.contact-panel .contact-container a .contact-row {
  height: 90px;
  border-bottom: 1px solid lightgray;
}
.contact-panel .contact-container a .contact-row .contact-left {
  position: relative;
  text-align: center;
}
.contact-panel .contact-container a .contact-row .contact-left img {
  margin-top: 7px;
  padding: 3px;
  text-align: center;
  height: 75px;
  width: 75px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid gray;
}
.contact-panel .contact-container a .contact-row .contact-right .contact-name {
  padding: 0;
  margin: 10px 0px 0px 0px;
  font-weight: 500;
  font-size: 18pt;
  overflow: hidden;
}
.contact-panel .contact-container a .contact-row .contact-right .contact-message {
  height: 24px;
  overflow: hidden;
  color: gray;
}

.message-panel {
  float: left;
  width: 65%;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}
.message-panel embed {
  height: 100vh;
  width: 100%;
}

.no-margin {
  margin: 0px;
  padding: 0px;
}

.dropdown-menu {
  right: 0;
}

.dropdown-menu-right[data-bs-popper] {
  left: inherit;
}

.dropdown-icon {
  -webkit-filter: invert(1);
  filter: invert(1);
  transform: rotate(90deg);
  transition: transform 0.2s;
}

.transparent {
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
}
.transparent:hover, .transparent:focus, .transparent:active, .transparent:active:hover {
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
}

@media (max-width: 850px) {
  .contact-container .contact-row .contact-left img {
    margin-top: 13px;
    height: 65px;
    width: 65px;
  }
  .contact-container .contact-row .contact-right {
    padding-left: 20px;
  }
  .contact-container .contact-row .contact-right a .contact-name {
    font-size: 14pt;
  }
  .contact-container .contact-row .contact-right a .contact-message {
    font-size: 10pt;
    height: 24px;
    overflow: hidden;
    color: gray;
  }
}
@media (min-width: 671px) {
  .contact-panel {
    float: left;
    display: block;
    width: 35%;
    padding: 0;
    margin: 0;
  }

  .message-panel {
    float: left;
    width: 65%;
    padding: 0;
    margin: 0;
  }
  .message-panel embed {
    height: 100vh;
    width: 100%;
  }
}
@media (max-width: 670px) {
  .message-panel {
    display: none;
  }

  .contact-panel {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .contact-panel .navbar {
    width: 100%;
  }
  .contact-panel .contact-container .contact-row .contact-right a .contact-name {
    font-size: 18pt;
  }
  .contact-panel .contact-container .contact-row .contact-right a .contact-message {
    font-size: 14pt;
  }
}