$menuBackground: #2f2f40;
$chatBackground: #3a3b52;
$contactChat: #5e9ef7;
$userChat: #cdd5de;

::-webkit-scrollbar {
   width: 0px;
   background: transparent; /* make scrollbar transparent */
}

.nav-colour {
   background-color: $menuBackground;
}

//Theming the drop down menu
.dropdown-menu {
   background-color: $menuBackground;
}

.dropdown-menu-dark .dropdown-item:active {
   background-color: $chatBackground !important;
}

.add-user-panel {
   display: none;
   position: absolute;
   height: 200px;
   width: 300px;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   z-index: 11;
   background-color: $chatBackground;
   text-align: center;
   .title {
      padding-top: 15px;
      color: white;
   }
   input[type="text"] {
      margin-top: 40px;
      width: 70%;
      padding: 0px;
      height: 20px;
      border: none;
      border-bottom: 1px solid white;
      background: transparent;
      color: white;
   }

   input[type="submit"] {
      background-color: #3a3b52;
      border: white 1px solid;
      width: auto;
   }
   .close {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      margin: 20px;
   }
}

.darken-panel {
   display: none;
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   z-index: 10;
   background-color: $menuBackground;
}

.contact-panel {
   float: left;
   display: block;
   width: 35%;
   padding: 0;
   margin: 0;
   height: 100vh;
   overflow-y: scroll;
   .navbar {
      position: fixed !important;
      width: 35%;
      z-index: 9;
   }
   .contact-container {
      margin-top: 50px;
      overflow-y: scroll;

      .contact-row {
         height: 90px;
         border-bottom: 1px solid lightgray;

         a {
            text-decoration: none;
            color: black;
            width: auto;

            .contact-left {
               position: relative;
               text-align: center;

               img {
                  margin-top: 7px;
                  padding: 3px;
                  text-align: center;
                  height: 75px;
                  width: 75px;
                  -o-object-fit: cover;
                  object-fit: cover;
                  border-radius: 50%;
                  border: 1px solid gray;
               }
            }

            .contact-right {
               width: 100%;
               .contact-name {
                  padding: 0;
                  margin: 10px 0px 0px 0px;
                  font-weight: 500;
                  font-size: 18pt;
                  overflow: hidden;
               }
               .contact-message {
                  height: 24px;
                  overflow: hidden;
                  color: gray;
               }
            }
         }
      }
   }
}

.message-panel {
   float: left;
   width: 65%;
   padding: 0;
   margin: 0;
   height: 100vh;
   overflow-y: hidden;
   embed {
      height: 100vh;
      width: 100%;
   }
}

.no-margin {
   margin: 0px;
   padding: 0px;
}

.dropdown-menu {
   right: 0;
}

.dropdown-menu-right[data-bs-popper] {
   left: inherit;
}

.dropdown-icon {
   -webkit-filter: invert(1);
   filter: invert(1);
   transform: rotate(90deg);
   transition: transform 0.2s;
}

.transparent {
   background-color: transparent;
   outline: none;
   border: none;
   box-shadow: none;

   &:hover,
   &:focus,
   &:active,
   &:active:hover {
      background-color: transparent;
      outline: none;
      border: none;
      box-shadow: none;
   }
}

@media (max-width: 850px) {
   .contact-container {
      .contact-row {
         .contact-left {
            img {
               margin-top: 13px;
               height: 65px;
               width: 65px;
            }
         }

         .contact-right {
            padding-left: 20px;
            a {
               .contact-name {
                  font-size: 14pt;
               }
               .contact-message {
                  font-size: 10pt;
                  height: 24px;
                  overflow: hidden;
                  color: gray;
               }
            }
         }
      }
   }
}

//Tablets
@media (min-width: 671px) {
   .contact-panel {
      float: left;
      display: block;
      width: 35%;
      padding: 0;
      margin: 0;
   }
   .message-panel {
      float: left;
      width: 65%;
      padding: 0;
      margin: 0;
      embed {
         height: 100vh;
         width: 100%;
      }
   }
}

//Mobile devices
@media (max-width: 670px) {
   .message-panel {
      display: none;
   }

   .contact-panel {
      width: 100%;
      margin: 0;
      padding: 0;

      .navbar {
         width: 100%;
      }
      .contact-container {
         .contact-row {
            .contact-right {
               a {
                  .contact-name {
                     font-size: 18pt;
                  }
                  .contact-message {
                     font-size: 14pt;
                  }
               }
            }
         }
      }
   }
}

//Code for message.scss merge
#back {
   text-decoration: none;
   color: $userChat;
}

.chat {
   background-color: $chatBackground;
   height: calc(100vh - 118px);
   overflow-y: scroll;
}

.error-field {
   display: none;
   position: absolute;
   height: 93.5%;
   width: 100%;
   z-index: 10;
   background-color: rgba(50, 50, 50, 0.5);
}

.error {
   display: none;
   text-align: center;
   height: 100px;
   width: 200px;
   background-color: white;
   padding: 10px;
   position: absolute;
   border-radius: 10px;
   z-index: 11;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
}

.close-button {
   position: absolute;
   top: 0;
   right: 8px;
   color: black;
   transition: 0.5s;

   &:hover,
   &focus {
      transform: scale(1.5);
      font-weight: 500;
   }
}

.message-left {
   position: relative;
   min-width: 40px;
   max-width: 50%;
   text-align: center;
   float: left;
   background-color: $contactChat;
   padding: 5px 8px 5px 8px;
   border-radius: 14px 14px 14px 14px;
   margin: 5px;
}

.message-left-first {
   @extend .message-left;
   border-radius: 0px 14px 14px 14px;
}

.message-right {
   position: relative;
   min-width: 40px;
   max-width: 50%;
   text-align: center;
   float: left;
   background-color: $userChat;
   padding: 5px 8px 5px 8px;
   border-radius: 14px 14px 14px 14px;
   margin: 5px;
}

.message-right-first {
   @extend .message-right;
   border-radius: 14px 14px 0px 14px;
}

.message-time {
   position: relative;
   color: $userChat;
   height: 100%;
   width: 100%;
   font-size: 8pt;
   bottom: 0;
}

.message-time-right {
   @extend .message-time;
   text-align: right;
   float: right;
   right: 5px;
}

.message-time-left {
   @extend .message-time;
   float: left;
   left: 5px;
}

.message-row {
   background: $menuBackground;
   padding: 12px 12px 12px 12px;
   align-items: baseline;
}

#message-input {
   width: 85% !important;
}
.submit-button {
   background-color: transparent;
   height: 38px;
   border: none;
   margin-left: 10px;

   &:hover {
      background-color: transparent;
      height: 38px;
      border: none;
      margin-left: 10px;
   }

   &:hover .icon {
      -webkit-filter: invert(1);
      filter: invert(1);
      fill: black;
      transform: scale(1.3);
   }
}

.icon {
   -webkit-filter: invert(1);
   filter: invert(1);
   position: relative;
   padding: auto auto;
}

.blank-panel {
   height: 100%;
   width: 100%;

   .image {
      text-align: center;
      padding-top: 5%;
      img {
         width: 90%;
      }
   }
   .text {
      color: $userChat;
      font-size: 20pt;
      text-align: center;
   }
}

#footer {
   display: none;
}

#chat {
   height: 100%;
}
